.tg {
	border-collapse: collapse;
	border-spacing: 0;
}

.tg td {
	font-family: Arial, sans-serif;
	font-size: 14px;
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
	border-color: black;
}

.tg th {
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	padding: 10px 5px;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	word-break: normal;
	border-color: black;
	font-weight: bold;
}

.tg .tg-bottom {
	text-align: center;
    vertical-align: bottom;
    font-weight: bold;
}

.tg .tg-0lax {
	text-align: left;
	vertical-align: top
}

.tg .tg-0rax {
	text-align: right;
	vertical-align: top
}

.tg .tg-1lax {
	text-align: center;
	vertical-align: top
}
.tg .title {
	font-weight: bold;
}

label {
	display: block;
}

input {
	width: 200px;
}

.buttons button {
    font-size: 120%;
    margin-right: 5px;
}

button.button_text {
    overflow: visible;
    padding: 0 7px;
    width: auto;
}

.buttons {
	margin-top: 10px;
}

.alert {
	padding: 15px;
	margin: 20px 20px 0;
	border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
	border-radius: 4px;
}

.mensagem-sucesso {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.mensagem-erro {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
div.appnitro {
	margin: 20px 20px 0;
	padding: 0 0 20px;
}

#div-logo {
	text-align: center;
	padding: 20px 0;
}

#img-logo {
	width: 300px;
	display: inline-block;
}
#disciplinas {
	margin: 20px 20px 0;
	padding: 0 0 20px;
}